<div class="projects outlet-wrapper">
  <app-header title="Visualizar/Editar Projeto"></app-header>
  <div class="container-fluid px-container">
    <div class="row">
      <div class="col-md-12">
        <div class="spinner-wrapper">
          <mat-progress-bar *ngIf="loading" mode="indeterminate">
          </mat-progress-bar>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-purple-card
          title="Editar Projeto"
          subtitle="Preencha o formulário abaixo para editar o projeto.
        Campos com (*) são obrigatórios."
        >
          <form (submit)="updateProject($event)">
            <div class="form-row mb-2 mt-2">
              <div class="col-md-4">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Nome"
                    name="name"
                    [formControl]="name"
                    type="text"
                    required
                  />
                  <mat-error *ngIf="name.invalid">{{
                    getErrorMessage('name')
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 pl-2">
                <mat-form-field>
                  <mat-label>Cliente</mat-label>
                  <mat-select name="client" [formControl]="client" required>
                    <mat-option
                      *ngFor="let client of clients"
                      [value]="client._id"
                    >
                      {{ client.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="client.invalid">{{
                    getErrorMessage('client')
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 pl-2">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Valor"
                    name="value"
                    [formControl]="value"
                    prefix="R$ "
                    mask="dot_separator.2"
                    type="text"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="col-md-12">
                <mat-form-field>
                  <textarea
                    matInput
                    placeholder="Descrição"
                    [formControl]="description"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row pr-3 mt-3">
              <div class="col-md-6 p-0">
                <button
                  mat-raised-button
                  class="btn btn-danger ml-3"
                  type="button"
                  (click)="removeProject()"
                >
                  Remover Projeto
                </button>
              </div>
              <div class="col-md-6 p-0 d-flex justify-content-end">
                <button
                  mat-raised-button
                  class="btn btn-default"
                  routerLink="/projetos"
                  type="button"
                >
                  Cancelar
                </button>
                <button mat-raised-button class="btn btn-primary" type="submit">
                  Salvar Alterações
                </button>
              </div>
            </div>
          </form>
        </app-purple-card>
      </div>
    </div>
  </div>
</div>
