<div class="clients outlet-wrapper">
  <app-header title="Clientes"></app-header>
  <div class="container-fluid px-container">
    <div class="row">
      <div class="col-md-12">
        <app-table
          *ngIf="showTable"
          actionBtn="Adicionar Cliente"
          [tableOpts]="tableOpts"
          [tableData]="tableData"
          [displayedColumns]="tableColumns"
          [columnTitles]="tableColumnTitle"
          (viewItem)="viewClient($event)"
          (actionClick)="newClient()"
        ></app-table>
      </div>
    </div>
  </div>
</div>
