.input-container {
  font-size: 15px;
  font-weight: 300;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;

    .mat-header-cell {
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      color: #9c27b0 !important;
      font-size: 1.063rem;
      font-weight: 300;
    }

    .mat-cell {
      color: #333;
      font-size: 0.875rem;
      font-weight: 300;
    }

    mat-icon {
      color: #9e37b4;
      font-size: 27px;
    }
  }
}

mat-form-field {
  margin-right: 12px;
}
